/* global */
* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body {
    margin: 0;
}
a {
    font-weight: 700;
    color: rgb(91, 91, 91);
}
.wrapper {
    background-color: #eaeaea;
}
p {
    text-align: center;
    color: rgb(91, 91, 91);
}

/* header */
h1,
h2,
h3 {
    text-align: center;
    color: rgb(91, 91, 91);
}
header {
    padding-bottom: 30px;
    background-color: #eaeaea;
}
header h1 {
    margin-top: 0;
    padding-top: 35px;
    font-family: 'Croissant One', cursive;
}
.header-nav {
    text-align: center;
}
.header-nav:last-child {
    margin-bottom: 50px;
}
.header-nav li {
    margin: .5em;
    padding: 10px 25px;
    background-color: #f1f1f1;
    width: 95%;
}
ul {
    margin: 0;
    padding: 0;
}
li {
    list-style-type: none;
}
a {
    text-decoration: none;
}

/* main */
main {
    padding-top: 35px;
    background-color: #f1f1f1;
}
h1 {
    font-weight: 700;
}
h2 {
    padding-bottom: 25px;
    font-weight: 700;
}
.profile {
    display: flex;
    flex-direction: column;
}
.profile-img {
    max-width: 70%;
    height: auto;
    margin: auto;
}
.profile p {
    text-align: center;
    color: #52bab3;
    font-family: 'Croissant One', cursive;
}
.portfolio {
    display: flex;
    flex-direction: column;
}
.portfolio img {
    max-width: 95%;
    height: auto;
    margin: auto;
}
.portfolio p {
    padding-bottom: 20px;
}
h3 {
    padding: .75rem 0 0;
    margin-bottom: 0;
}

/* section */
section {
    padding-top: 30px;
    background-color: #eaeaea;
}
section h2 {
    padding-bottom: 0;
}
.about-me {
    display: flex;
    flex-direction: column;
}

/* form */
form {
    width: 550px;
    height: 500px;
    max-width: 95%;
    max-height: 95%;
    margin: 25px 0 50px;
    align-self: center;
    background-color: rgb(249, 249, 249);
    color: rgb(86, 86, 86);
    border-radius: 10px;
}
fieldset {
    border: none;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
legend {
    font-weight: 700;
    font-size: 2.5rem;
    text-align: center;
    font-family: 'Croissant One', cursive;
    color: #52bab3;
}
.about-me p {
    font-family: 'Croissant One', cursive;
}
label {
    text-align: start;
    text-transform: uppercase;
    font-weight: 700;
}
input {
    padding: 5px;
    height: 35px;
    background-color: rgb(230, 230, 230);
}
textarea {
    resize: none;
    height: 70px;
    padding: 7px;
    background-color: rgb(230, 230, 230);
}
button {
    height: 50px;
    background: #52bab3;
    color: white;
}
button:hover {
    cursor: pointer;
}
input,
textarea,
button {
    border: none;
    border-radius: 7px;
}

/* contact */
.contact-card p {
    padding-bottom: 20px;
}
.contact-card ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
}
.contact-card li{
    margin: 7px;
    font-size: 1.25rem;
    color: rgb(91, 91, 91);
}
hr {
    border: 1px solid #d6d6d6;
    max-width: 95%;
}

/* footer */
footer ul {
    display: flex;
    justify-content: space-between;
    padding: 25px 10px;
    background-color: #eaeaea;
}
.hide {
    display: none;
}

/* Media Queries */
@media screen and (min-width: 768px) {
    .header-nav ul {
        display: flex;
        justify-content: center;
    }
    .header-nav li {
        margin: .5em;
        padding: 10px 25px;
        background-color: #eaeaea;
        width: auto;
    }
    .profile {
        flex-direction: row;
        margin: 30px;
    }
    .profile-img {
        max-width: 376px;
        height: 225px;
        margin: auto;
        order: 1;
    }
    .profile p {
        margin: 0 15px 0 0;
        text-align: left;
    }
    .portfolio-section {
        display: flex;
        flex-wrap: wrap;
        margin: auto;
    }
    .portfolio {
        flex: 1 342px;
        align-items: center;
    }
    .portfolio p {
        width: 300px;
    }
    .about-me {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .about-me p {
        width: 500px;
    }
    .skills-card {
        margin-bottom: 25px;
    }
    .hide {
        display: inline-block;
    }
    .show {
        display: none;
    }
    .mordecai {
        margin-right: auto;
        margin-left: 0;
    }
    .cntc {
        margin-right: 5px;
    }
    footer li {
        margin: 5px 15px;
    }
}
@media screen and (min-width: 1024px) {
    .header {
        display: flex;
        align-items: center;
    }
    header h1{
        margin-right: auto;
        margin-left: 30px;
    }
    .header-nav:last-child {
        margin-bottom: 0;
    }
    main {
        max-width: 85%;
        margin: auto;
    }
    .portfolio {
        flex: 1 324px;
    }
}
